<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="false">
<listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="utilities.chainTestListener"/>
        <listener class-name="utilities.Reporting" />
</listeners> 
   <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="test.SearchTest"></class> 
            <class name="test.ProductTest"></class>
            <class name="test.CartTest"></class>
        </classes>
    </test>   
</suite>

<!-- mvn test -DsuiteXmlFile=testng.xml  --> 
